.main-nav-container {
  display: flex;
  background-color: black;

  .nav-title-container {
    margin-top: 12px;
    margin-left: 20px;

    a {
      color: blanchedalmond;
      font-family: Arial, Helvetica, sans-serif;
      font-size: x-large;
      font-weight: bold;
      text-decoration: none;
    }
  }

  .links-container {
    .list {
      display: flex;
      list-style-type: none;

      .link-item {
        a {
          color: blanchedalmond;
          font-family: Arial, Helvetica, sans-serif;
          font-size: medium;
          font-weight: bold;
          text-decoration: none;
          margin-right: 40px;
        }
      }
    }
  }
}
