.home-page-container {
  margin-top: 50px;
  padding: 20px 150px;
  display: flex;
  flex-direction: column;

  h1 {
    align-self: center;
  }

  .news-items-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
